html{
    font-size: 62.5%; /* Se usa el 62.5 por que 16px  x 62.5 = 10px = 1 rem */
    box-sizing: border-box;

}
body{
    margin: 0;
    height: 100vh;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  

}
/*Layout*/

.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';

    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
header{
    grid-area: header;
    background-color: #30a743;
}
main{
    grid-area:  main;
    padding:  1rem;
}
footer{
    grid-area: footer;
    background-color: #30a743;
    color: aliceblue;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
/*estilo*/
a{
    text-decoration:  none;

}
a:hover{
    color: rgb(211, 200, 48);
}
header a{
    color: white;
    padding: 1rem;
    font-weight: bold;
    font-size: 2.5rem;
}
a.brand{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.row.center{
    justify-content:center ;
}